/*Стили по умолчанию*/
body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background: #f8f8f8;
    color: #47464c;
    margin-left: 20px;
}

/*Стили для кнопкок и ссылко меню*/
.button {
    padding: 10px 20px;
    border: #3424ff solid 1px;
    background-color: #5445ff;
    font-family: 'PT Sans Narrow';
    color: #f8f8f8;
    font-size: 1.2em;
    border-radius: 15px;
}

.button:hover{
    color: #fff;
    background-color: blueviolet;
    cursor: pointer;

}

/*Стиль курсора при наведении на лого*/
[onclick]{
    cursor: pointer;
}

/*Шапка*/
.header {
    white-space:nowrap;
    overflow:hidden;
}

.header div {
    display:inline-block;
}

/*Лого*/
.logo {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Go_Logo_Aqua.svg/1280px-Go_Logo_Aqua.svg.png");
    background-size: 120px;
    background-repeat: no-repeat;
    margin: 20px 30px 20px 50px;
    padding-bottom: 30px;
}

/*Слоган*/
.slogan {
    margin: 0px 0px 0px 180px;
    font-size: 1.5em;
}

/*Кнопка записаться*/
.feedback {
    float: right;
    margin: 20px 50px;
    background-size: 40px;
    }

/*Меню*/
.mеnu li {
    display: inline;
}

/*меню. стили ссылок*/
.mеnu a {
    text-decoration: none;
    color: #f8f8f8;
    font-size: 1.2em;
}

/*Заголовки*/
.offer h1, h2 {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

/*Товар*/
.offer {
    display: block;
    width: 900px;
}
.photo img{
    display: block;
    outline: #5445ff 3px solid;
    width: 50%;
}

.photo img:hover{
    outline: none;
}

/*товар. списко характиристик*/
.list-specification {
    list-style-image: url("../img/correct.png");
}

.offer p:first-letter {
    text-transform: capitalize;
    color: #fff;
    background-color: #5445ff;
    border-radius: 27%;
    margin-right: 2px;
    padding: 2px 5px;
    font-size: 1.2em;

}

/*каталог. блок товара*/
.list-catalog-block li {
    display: inline-block;
    background-size: 447px 169px;
    background-image: url("https://images.freeimages.com/images/large-previews/482/abstract-blue-red-gradient-free-photo-1164375.jpg");
    border: solid #b5b5b5 1px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 1.5em;
    padding: 70px 30px 70px 30px;
}

/*каталог. текст в блоке товара*/
.list-catalog-block a{
    text-decoration: none;
    color: #f8f8f8;
}

/*каталог. название товара при наведении*/
.list-catalog-block li:hover {
    color: #626262;
    background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
    text-decoration: underline;
}

/*котакты*/
input{
    width: 270px;
    height: 40px;
    color: #323062;
    margin-bottom: 15px;
}

input:focus{
    background-color: rgba(29, 148, 17, 0.28);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
}

form input {
    text-transform:capitalize;
}

input:first-letter {
    text-transform:uppercase;
}

textarea:focus{
    background-color: rgba(29, 148, 17, 0.28);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5em;
}

/*Таблица*/
.table {
    width: 600px;
    border-collapse: collapse;
}

.course {
    background-color: #1d9411;
}

.intense {
    background-color: #8AA9D6;
}

.pro {
    background-color: #5445ff;
}

caption {
    font-size: 1.7em;
    background-color: #eaeaea;
    height: 50px;
    text-align: center;
    margin-bottom: 5px;

}

th {
    padding: 15px 15px;
    background-color: #eaeaea;
    border-bottom: #b5b5b5 solid 3px;
}

tr {
    height: 45px;
}

tr:nth-child(2n+3){
    background-color: #f3f3f3;
}

td #double {
    text-align: center;
    padding: 7px 0px 2px;
}

td:first-of-type{
    font-size: 1.5em;
    background-color: #eeeeee;
    text-align: left;
}


/*котакты. плейсхолдер*/
[placeholder]{
    font-size: 1.1em;
    font-family: "Roboto Condensed";
    font-style: italic;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #eaeaea;
    font-family: "Roboto Condensed";
    color: #6a6a6a;
    text-align: center;
    float: bottom;
}